<div>
  <v-container fluid grid-list-xl pt-3>
    <v-row
      align="center"
      justify="center"
    >
      <v-col
        cols="12"
        sm="8"
        md="4"
      >
        <v-card outlined>
          <v-tabs
            background-color="darken-3"
            class="pd-2"
          >
            <v-tab>
              Connexion
            </v-tab>
            <v-tab>
              Inscription
            </v-tab>
            <v-tab-item>
              <v-card-text>
                <v-text-field
                  label="Adresse mail"
                  name="login"
                  prepend-icon="person"
                  type="text"
                  v-model="loginReq.email"
                />
                <v-text-field
                  id="password"
                  label="Mot de passe"
                  name="password"
                  prepend-icon="lock"
                  type="password"
                  v-model="loginReq.password"
                />
              </v-card-text>
              <v-card-actions>
                <v-spacer />
                <v-btn color="primary" @click="login">Connexion</v-btn>
              </v-card-actions>

                <v-snackbar
                  v-model="snackbarLoginKO"
                  :auto-height="true"
                  :timeout="0"
                  color="error"
                >
                <div>
                  Erreur en se connectant. Avez vous les bons logins?
                </div>
                <v-btn
                  icon
                  @click="snackbarLoginKO = false"
                >
                  <v-icon>close</v-icon>
                </v-btn>
              </v-snackbar>
            </v-tab-item>

            <v-tab-item>
              <v-card-text>
                <v-text-field
                  label="Adresse mail"
                  v-model="registerReq.email"
                  name="login"
                  prepend-icon="person"
                  type="text"
                />

                <v-text-field
                  label="Pseudo"
                  v-model="registerReq.username"
                  name="login"
                  prepend-icon="account-badge"
                  type="text"
                />

                <v-text-field
                  id="password"
                  v-model="registerReq.password"
                  label="Mot de passe"
                  name="password"
                  prepend-icon="lock"
                  type="password"
                />

                <v-checkbox
                  id="university"
                  label="Je représente un service universitaire"
                  name="university"
                  color="primary"
                  v-model="registerReq.isSchool"
                >
                </v-checkbox>

                <v-text-field
                  v-if="registerReq.isSchool"
                  id="rss"
                  label="Flux RSS de communication"
                  name="rss"
                  prepend-icon="rss"
                  type="password"
                />
              </v-card-text>
              <v-card-actions>
                <v-spacer />
                <v-btn color="primary" @click="register">Inscription</v-btn>
              </v-card-actions>

              <v-snackbar
                  v-model="snackbarRegisterKO"
                  :auto-height="true"
                  :timeout="0"
                  color="error"
                >
                <div>
                  Erreur en s'enregistrant, l'email peut déja être pris.
                </div>
                <v-btn
                  icon
                  @click="snackbarRegisterKO = false"
                >
                  <v-icon>close</v-icon>
                </v-btn>
              </v-snackbar>
            </v-tab-item>
          </v-tabs>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</div>
