<div>
  <v-toolbar
    dark
    color="black lighten-2"
  >
      <v-toolbar-title>
        Study tips
      </v-toolbar-title>

    <v-spacer></v-spacer>

    <v-toolbar-items>
      <v-btn 
        text
        :to="{ name: 'home'}"
      >
        Accueil
      </v-btn>
      <v-btn
        text
        :to="{ name: 'posts'}"
      >
        Offres
      </v-btn>
      <v-btn
        text
        :to="{ name: 'profile/1'}"
      >
        Flux
      </v-btn>
      <v-btn 
        text
        :to="{ name: 'auth'}"
        v-if="!isConnected"
      >
        Connexion / Inscription
      </v-btn>
    </v-toolbar-items>

  </v-toolbar>
</div>